<launch>
	
	<node pkg="fxteso_asgibvs" type="aibvs_uav_node" name="aibvs_uav_node" />	
	
	<node pkg="fxteso_asgibvs" type="aibvs_imfeat_node" name="aibvs_imfeat_node" output="screen"   />
	
	<node pkg="fxteso_asgibvs" type="aibvs_controller_node" name="aibvs_controller_node"   />
	
	<node pkg="fxteso_asgibvs" type="aibvs_attitude_node" name="aibvs_attitude_node"  />
	
	<node pkg="fxteso_asgibvs" type="aibvs_fxteso_node" name="aibvs_fxteso_node"  />
	
	<node pkg="fxteso_asgibvs" type="aibvs_td_att_des_node" name="aibvs_td_att_des_node"  />
	
	<node pkg="fxteso_asgibvs" type="aibvs_td_att_node" name="aibvs_td_att_node"  />
	
	<node pkg="fxteso_asgibvs" type="aibvs_dist_node" name="aibvs_dist_node"  />
	
	<node pkg="fxteso_asgibvs" type="aibvs_tgtPos_node" name="aibvs_tgtPos_node"  />
	
	

</launch>

